/* RESET */
html, body{
    width: 100vw;
    height: 100vh;
}
*{  padding: 0;
    box-sizing: border-box;
    margin: 0;
    vertical-align: top;
}

.conteudo-principal-home{
    text-align: center;
}

.logo{
    width: 320px;
}