/* RESET */
html, body{
    width: 100vw;
    height: 100vh;
}
*{  padding: 0;
    box-sizing: border-box;
    margin: 0;
    vertical-align: top;
}

.conteudo-principal-home{
    text-align: center;
}

.logo{
    width: 320px;
}

.menu__barra__img{
    width: 10%;
}

.logo-meuPerfil{
    display: flex;
    justify-content: space-between;
}