#pai div{
    // background:red;
    div{
        background: $rosa2;
        margin: 10px;
        width: 40%;
        border-radius: 3%;
        div{
            // background:purple;
            width: 100%;
            margin: 1px;
            text-align: center;
            display: flex;
            justify-content: center;
            padding: 0;
            img{
                width: 70%;
                height: 100%;
            }
            div{
                // background:yellow;
                text-align: center;
                margin: 0 auto;
                color: white;
                font-family:  'Arial Narrow', Arial, sans-serif;
                font-size: 20px;
                // font-weight: bold;
                a{
                    color: $rosa4;
                }
                div{
                    background:orangered;
                    div{
                        background:green;
                        div{
                            background:$rosa1;
                            color: white;
                            text-align: center;
                            margin: 0 auto;
                        }
                    }
                }
            }
        }
    }
}