.form-exibir-cadastro{
    display: flex;
    flex-wrap: wrap;
    p{
        padding: 10px 0;
        margin: 10px auto;
    }
    button{
        display: flex;
        margin: 0px auto;
        width: 200px;
    }
    .exibir-cadastro-botoes{
        width: 100%;
    }
}
.exibir-cadastro{
    width: 60%;
    border: none;
    border-radius: 10px;
    border: 2px solid $rosa1;
    padding: 5px;
    margin: 0 16% 15px 2px;
    margin: 0 auto;
}