section{
    margin: 0 auto;
    padding: 90px 0 0 0;
}

.selection-cadastro{
}

.selection-cadastro h1{
    color: $rosa1;
    font-size: 48px;
}

.modal-content .selection-cadastro h2{
    color: $rosa1;
    font-size: 20px;
    margin: 0;
}

.modal-content .selection-cadastro p{
    color: $rosa1;
    display: inline-block;
    margin: 0 15px 0 0;
}

.selection-cadastro input{
    display: inline-block;
    margin: 5px;
}

footer{
    margin-top: 20px;
}