.reset{
    width: 100vw;
    height: 100vh;
}
.reset body{
    width: 100vw;
    height: 100vh;
}
.reset *{         
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    vertical-align: top;
}

//borda azul
.reset textarea:focus, input:focus, select:focus, a:focus, button:focus{
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
}

a{
    &:hover{
        text-decoration: none;
        color: white;
    }
}

.container{
    width: 100%;
}