.nav-match-usuaria-min{
    width: 70%;
    margin: 0px auto 0px auto;
    display: flex;
    justify-content: space-between;
    padding: 0px 70px;
    padding-left: 176px;
    p{
        font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
        font-weight: bold;
        font-size: 30px;
        color: $rosa2;
    }
}
.nav-item1-match-usuaria-min{
    
}
.nav-item2-match-usuaria-min{
    
}

#redefine-container-match{
    width: 70%;
}

.match-usuaria-min{
    border: 1px solid black;
    background: pink;
    margin: 0px auto 20px auto;
    height: 100px;
    display: flex;
    padding: 5px;
    img{
        width: 90px;
        max-height: 100%;
    }
    p{
        font-size: 15px;
        margin: 2px;
    }
}

.box-user{
    width: 70%;
    margin: 0 auto;
    padding: 20px 70px;
    background: $rosa3;
    border-bottom: 3px solid $rosa4;
    display: flex;
    justify-content: space-between;
    align-items: center;
    img{
        max-width: 200px;
        border: 3px solid $rosa2;
    }
    p{
        font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
        font-weight: bold;
        font-size: 30px;
        color: $rosa4;
    }
}


@media (min-width: 768px) {
    .box-user{
        flex-direction: row;
        img{

        }
        p{
        }
    }
}
@media (min-width: 992px) {
    .box-user{
        
        img{

        }
        p{
        }
    }
}
@media (min-width: 1200px) {
    .box-user{
        
        img{

        }
        p{
        }
    }
}

