.match-usuaria-min{
    width: 70%;
    border: 1px solid black;
    background: pink;
    margin: 20px auto 0 auto;
    height: 100px;
    display: flex;
    padding: 5px;
    img{
        width: 90px;
        margin-right: 5px;
    }
    p{
        font-size: 30px;
        margin: 2px;
    }
}