.nav-match-usuaria-min{
    width: 70%;
    margin: 0px auto 0px auto;
    display: flex;
    padding: 5px;
    p{
        font-size: 30px;
        margin: 2px;
    }
}

.match-usuaria-min{
    width: 70%;
    border: 1px solid black;
    background: pink;
    margin: 0px auto 20px auto;
    height: 100px;
    display: flex;
    padding: 5px;
    img{
        width: 90px;
    }
    p{
        font-size: 30px;
        margin: 2px;
    }
}