.cabecalho-user {
    background: $rosa4;
    color: white;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 15px;
}

.cabecalho-user h1{
    text-align: center;
    padding: 5px;
    margin-right: 10px;
    &:hover{
        color: $rosa1;
    }
}

.cabecalho-user h1 p{
    font-size: 16px;
    font-weight: normal;
}

.nav-user-home{
    background: $rosa4;
    color: white;
    height: 100%
}

.nav-user-home ul{
    list-style-type: none;
    display: flex;
}

.nav-user-home ul li{
    padding-right: 10px;
    font-size: 20px;
    &:hover{
        color: $rosa1;
    }
}