header {
    background: $rosa4;
    color: white;
    height: 55px;
    display: flex;
    align-items: center;
    padding: 5px;
}

.nav-user-home{
    background: $rosa4;
    color: white;
    height: 100%
}

.nav-user-home ul{
    list-style-type: none;
    display: flex;
}

.nav-user-home ul li{
    padding-right: 10px;
    &:hover{
        color: $rosa1;
    }
}