// Variables

// Restated Bootstrap Variables

$white: #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #868e96 !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black: #000 !default;

$primary: deeppink !default;

//EM TODO O SITE>>>
$rosa1: deeppink !default;
$rosa2: #e46278 !default;
$rosa3: #e396b0 !default;
$rosa4: #9a3535 !default;

$sombra1: 2px 4px 3px gray !default;
$sombra2: 2px 4px 3px #0a0a0a !default;
$sombra3: 2px 4px 3px #f000f4 !default;



// HOME>>>
$fonteLogo: 'Roboto Slab'!default;